.posterCard{
    height: 100%;
}
.posterDivBtn{
    position: relative;
}
.posterMedia{
    background-color: rgb(44, 55, 90);
    /* background-blend-mode:darken; */
    background-blend-mode:hard-light;
}
.posterOverlay{
    position: relative;
    padding: 20px;
}
div>.posterOverlayBtn{
    position: absolute;
    top: 5px;
    right: 8px;
    background-color: rgba(236, 232, 232, 0.5);
}

.posterOverlay2{
    position: absolute;
    top: 0px;
    left: 5px;
    color: rgb(194, 190, 255);
    border-radius: 10px;
    font-size: medium;
}
