.all{
    box-shadow: 0px 0px 3px 0px #24367e;
    padding: 50px 0px;
    border-radius: 5px;
    transition: 2s;
}

@media only screen and (max-width: 600px) {
.allDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dotted #24367e;
    border-radius: 10px;
}
.allTypo1{
    flex-basis: 83%;
}
.allTypo2{
    flex-basis: 70%;
}
}

@media only screen and (min-width: 600px) {
.allDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px dotted #344caa;
    border-radius: 10px;
}
.allTypo1, .allTypo2{
    flex-basis: 40%;
}
}

