.comment2a {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

@media (max-width: 600px) {
  .commentMain {
    box-shadow: 0px 0px 3px 0px #24367e;
  }
  .comment {
    box-sizing: border-box;
    padding-bottom: 10px;
  }
  .comment2a {
    max-height: 300px;
  }
  .comment2b {
    padding: 0.5px 0;
  }
  .comment4 {
    margin: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .comment {
    box-sizing: border-box;
  }
  .comment2a {
    max-height: 450px;
  }
  .comment2b {
    padding: 0.5px 0;
  }
  .comment4 {
    padding: 20px 20px;
  }
}

@media (min-width: 789px) {
  .comment {
    box-sizing: border-box;
  }
  .comment2a {
    max-height: 400px;
  }
  .comment2b {
    padding: 0.5px 0;
  }
  .comment4 {
    padding: 20px 20px;
  }
}
