.profile{
    background-color: #11255c;
    color: white;
    padding: 15px 15px 40px 15px;
    border-radius: 5px;
    box-shadow: 0 1 2 0 black;
    transition: 2s;
}

.profileTypo1{border-bottom: 1px dotted rgb(73, 84, 233);
}
.profileSpan{
    color: rgb(167, 197, 236);
    font-size: 20px;
    font-weight:700;
    font-family:monospace ;
}