.profile{
    color: white;
    padding: 15px 15px 40px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #344caa;
    transition: 2s;
}

.profileTypo1{border-bottom: 1px dotted #4954e9;
}
.profileSpan{
    color: #a7c5ec;
    font-size: 20px;
    font-family:monospace ;
}