.formNoUser {
  box-shadow: 0px 0px 5px 2px red;
  background-color: #11255c;
  border-radius: 10px;
  padding: 10px 0;
  font-family: serif;
  text-align: center;
}
.formMain {
  background-color: #11255c;
  box-shadow: 0px 0px 5px 2px red;
  border-radius: 4;
  margin-bottom: 20px;
  padding: 10px 0;
}
.formForm {
  margin: 15px;
}
