.posterCard {
  height: 100%;
  box-shadow: 0px 0px 3px 0px #344caa;
  border-radius: 5px;
}
.postInfo {
  position: relative;
  }
.postInfoH4 {
  position: absolute;
  right: 0px;
  z-index: 10;
  background-color: #020c27;
  color: white;
  box-shadow: 0px 0px 3px 0px #344caa;
  border-radius: 10px 0 0 10px;
}
.postInfoDiv1, .postInfoDiv2 {
  padding-right: 2px;
  margin: 10px;
  border-radius: 10px 0 0 10px;
  box-shadow: 0px 0px 3px 0px #344caa;
}
.postMedia {
  background-color: #84e713;
  /* background-blend-mode:hard-light; */
}
.postNoMedia {
  color: gray;
  padding:  0 0 7px 7px;
 }
.posterOverlay {
  position: relative;
  padding: 20px;
}
div > .posterOverlayBtn {
  position: absolute;
  top: 5px;
  right: 8px;
}
