.posterCard {
  height: 100%;
  box-shadow: 0px 0px 5px 2px red;
}
.postInfo {
  position: relative;
  }
.postInfoH4 {
  position: absolute;
  right: 0px;
  left: 10%;
  z-index: 10;
  background-color: #010929;
  color: white;
  /* height: 100px; */
  border-radius: 10px 0 0 10px;
}
.postInfoDiv1, .postInfoDiv2 {
  margin: 10px;
  border-radius: 10px 0 0 10px;
  border: 1px dotted #344caa;
}
.posterHeader {
  background-color: #11255c;
  color: white;
  padding: 3px 5px;
  border-radius: 2px;
}
.posterMedia {
  background-color: #010929;
  /* background-blend-mode:hard-light; */
}
.posterNoMedia {
  background-color: #11255c;
  color: white;
  width: 40%;
  padding: 0 0 2px 7px;
  margin: 0 0 10px 5px;
  border-radius: 0 10px;
}
.posterOverlay {
  position: relative;
  padding: 20px;
}
div > .posterOverlayBtn {
  position: absolute;
  top: 5px;
  right: 8px;
  background-color: rgba(236, 232, 232, 0.5);
}
