.homeSearch {
  box-shadow: 0px 0px 3px 0px #24367e;
  border-radius: 4;
  margin-bottom: 20px;
  padding: 16px;
}
div > .HomeSearchBtn,
center > .HomeSearchBtn {
  margin: 7px 0;
}
.HomePaginate {
  border-radius: 50px;
  margin-top: 15px;
  padding: 10px;
}
section > .HomeTextField {
  height: 45px;
  border-radius: 15px;
  margin-bottom: 15px;
}
