@media only screen and (max-width: 600px) {
  .appBarSmall {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 30px 0;
    padding: 3px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #24367e;
  }
  .appBarMob {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #192735;
    opacity: 0.99;
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    bottom:15%;
    left: 0;
    right: 30%;
    font-size:12px;
    box-shadow: 0px 0px 3px 0px #24367e;
    z-index: 10;
    transition: 2s;
  }
  .appBarMobHeader{
    display: flex;
    justify-content: space-between;
  }
  header>.appBarMobTypo{
    text-transform: capitalize;
    color: #698be0;
    font-size:14px;
    padding-top: 5px;
  }
  .appBarMobH2{
    padding: 5px;
    border-bottom: 1px solid #24367e;
    margin-bottom: 8px;
  }
  .appBarMobH2:hover{
    padding: 8px;
    border: 1px solid #24367e;
    border-radius: 10px;
    transition: 0.3s;
  }
  .appBarLap{
    display: none;
  }
  .noAppBarMob{
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .appBarLap {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 30px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #344caa;
  }
  .appImg {
    height: 50px;
    margin: 3px 3px 0px 2px;
  }
  .appBarMob {
   display: none;
}
  .appBarSmall {
   display: none;
}
.noAppBarMob{
    display: none;
  }
}
