.postDetailsRecommendCenter {
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .postDetailsPost {
    box-shadow: 0px 0px 3px 0px #24367e;
  }
  .postDetailsDiv1 {
    box-sizing: border-box;
    padding: 10px 0 10px 10px;
  }
  .postDetailsImg {
    max-height: 500px;
    width: 100%;
  }
  .postDetailsComment {
    margin-top: 20px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .postDetailsMain {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .postDetailsPost {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    box-shadow: 0px 0px 3px 0px #24367e;
  }
  .postDetailsDiv1 {
    padding: 10px 5px 0 10px;
  }
  .postDetailsImg {
    max-height: 400px;
    width: 100%;
  }
  .postDetailsComment {
    flex-basis: 50%;
    box-shadow: 0px 0px 3px 0px #24367e;
  }
}

@media (min-width: 789px) {
  .postDetailsMain {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .postDetailsPost {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-basis: 58%;
    box-shadow: 0px 0px 3px 0px #24367e;
  }
  .postDetailsDiv1 {
    flex-basis: 45%;
    padding: 10px 5px 0 10px;
  }
   .postDetailsImg-wrapper{
    flex-basis: 55%;
  }
  .postDetailsImg {
    max-height: 500px;
    width: 100%;
  }
  .postDetailsComment {
    flex-basis: 38%;
    box-shadow: 0px 0px 3px 0px #24367e;
  }
}
