  
  .postDetailsRecommendCenter {
    text-transform: capitalize;
  }

  
@media only screen and (max-width: 600px) {
    .postDetailsPost {
        box-shadow: 0px 0px 5px 0px #000b36;
      }
      .postDetailsDiv1 {
        padding: 10px 0 10px 10px;
      }
    .postDetailsImg {
    max-height: 700px;
    width: 100%;
  }
  .postDetailsComment{
    margin-top: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .postDetailsMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .postDetailsPost {
    display: flex;
    flex-direction: row;
    flex-basis: 60%;
    box-shadow: 0px 0px 5px 0px #000b36;
  }
  .postDetailsDiv1 {
    padding: 10px 5px 0 10px;
  }
  .postDetailsImg {
    max-height: 550px;
    width: 400px;
  }
  .postDetailsComment{
    flex-basis: 37%;
    box-shadow: 0px 0px 5px 0px #000b36;
  }
  
}
